Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from 97.65.86.0/24

ErrorDocument 403 "YOU ARE FORBIDDEN"
ErrorDocument 404 "NOT FOUND ---- NOW LEAVE"
ErrorDocument 500 http://vetconnect.me/error/error500.html


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php